* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: lightblue;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100px;
}

.carousel__container {
  margin: 0 auto;
  width: 80%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.usercard,
.usercard--hidden {
  display: none;
}

.usercard.usercard--visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightcyan;
  width: 240px;
  height: 50vh;
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
  animation: fadeVisibility 0.75s;
}

@media (min-width: 900px) {
  .usercard--visible--desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcyan;
    width: 240px;
    height: 50vh;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
    animation: fadeVisibility 0.75s;
  }
}

.usercard img {
  margin-top: 10px;
}

.carousel__button {
  position: absolute;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.25);
}

.carousel__button--left {
  left: 30px;
}

.carousel__button--right {
  right: 30px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
